<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Profile</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">Alfarizki Harahap</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>Nama</label>
                <span class="value">Alfarizki Harahap</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>TTL</label>
                <span class="value">9 Oktober, 1996</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Alamat</label>
                <span class="value">Marpoyan Damai</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">alfarizki671@gmail.com</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-phone"></i>
                <label>NO. HP</label>
                <span class="value">082174962988</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-globe"></i>
                <label>Website</label>
                <span class="value"><a href="#" target="_blank">alfarizkiharahap.github.io</a></span>
                <div class="clear"></div>
            </li>

        </ul>


        <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>       
            Nama saya Alfarizki Harahap, biasa disebut rizki. lahir pada bulan Oktober tahun 1996.
        </p>
        
         <p style="margin-bottom:20px">
            <i class="fa fa-quote-left"></i>
             usiaku telah melangkah 21 tahun, dan sekarang aku menjadi mahasiswa <a href="https://uin-suska.ac.id/" target="_blank">Universitas Negeri Islam Sultan Syarif Kasim Riau</a>. sekarang sedang menempuh pendidikan di Prodi <a href="https://sif.uin-suska.ac.id/" target="_blank">Sistem Informasi</a> <a href="https://fst.uin-suska.ac.id/" target="_blank">Fakultas Sains dan Teknologi</a>  
        </p>

    </div>
    <!-- End left-wrap -->

    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/rektorat.jpg" alt="" />
            <img src="images/img-profile/ic.jpg" alt="" />
            <img src="images/img-profile/fst.jpg" alt="" />
	    <img src="images/img-profile/pkm.jpg" alt="" />.
        </div>

    </div>

</div>

<div class="clear"></div>
</div>
<!-- End .profile -->
